<footer class="site-footer border-top">

    <data class="u-url" href="{{ "/" | relative_url }}"></data>

    <div class="footer-body container row py-4 col-lg-9 col-xl-7 mx-auto">

        <a class="col navbar-brand d-flex align-items-center page-link" rel="author" href="{{ "/" | relative_url }}">
            <logo class="me-1">
                <img src="{{site.baseurl}}/assets/img/wtsa-logo-alpha.png" alt="LOGO" style="height:25px; object-fit: fill;" id="logo">
            </logo>
            <h5 class="fw-light m-0">
                whatsthestoryabout
            </h5>
        </a>

        {% include nav-bar.html %}

        <hr style="opacity:0.3;	margin-top: 15px; margin-bottom: 20px;">

        {% include social.html %}

    </div>

</footer>