<header class="site-header border-bottom" role="banner">

   <div class="header-body container-lg g-2 col-lg-9 col-xl-7 col-xxl-6 py-0 mx-lg-auto row">

       <a class="col navbar-brand d-flex align-items-center page-link" rel="author" href="{{ "/" | relative_url }}">
           <logo class="me-1">
               <img src="{{site.baseurl}}/assets/img/wtsa-logo-alpha.png" alt="LOGO" id="logo" style="height: 50px;">
           </logo>
           <h5 class="fs-4 fw-light m-0">
               whatsthestoryabout
           </h5>
       </a>

       {% include nav-bar.html %}

   </div>

</header>