<header class="site-header py-0 py-lg-2" role="banner">

   <div class="header-body hstack">

       <a class="navbar-brand hstack page-link" rel="author" href="{{ "/" | relative_url }}">
           <logo class="me-1">
               <img src="{{site.baseurl}}/assets/img/wtsa-logo-alpha.png" alt="LOGO" id="logo" style="height: 50px;">
           </logo>
           <h5 class="fs-4 fw-light m-0" id="header-title">
               whatsthestoryabout
           </h5>
       </a>

       {% include nav-bar.html %}

   </div>

</header>