<nav class="navbar flex-grow-1 py-0 justify-content-end">

    <div class="nav-links d-flex flex-row text-center flex-fill d-none d-lg-flex justify-content-end">

        <a class="page-link fs-6 p-2 p-lg-0 mx-lg-3 invis-interactable" href={{"about" | relative_url}}>
            about
        </a>
        <a class="page-link fs-6 p-2 p-lg-0 mx-lg-3 invis-interactable" href={{"browse" | relative_url}}>
            browse
        </a>
    
        <a class="page-link fs-6 p-2 p-lg-0 mx-lg-3 invis-interactable" href="https://linktr.ee/wtstorya" rel="noopener noreferrer" target="_blank">
            linktree
        </a>
    
    
    </div>
    
    <button id="offcanvasButton" aria-controls="offcanvasNavbar" class="navbar-toggle" data-bs-target="#offcanvasNavbar" data-bs-toggle="offcanvas" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>

</nav>