<div class="post-nav">
	<a
		class="category-link"
		href="{{ page.category | replace: ' ', '-'  | relative_url }}"
	>
		Category: {{ page.category | escape }}
	</a>

	<div class="post-nav-pn">
		<div class="post-nav-p">
			{% if page.previous.url %}
			<a href="{{page.previous.url | relative_url }}">
				<span class="post-nav-label">&#8672;&nbsp;Previous</span>
				<p>{{page.previous.title}}</p>
			</a>
			{% endif %}
		</div>
		<div class="post-nav-n">
			{% if page.next.url %}
			<a href="{{page.next.url  | relative_url}}">
				<span class="post-nav-label">Next&nbsp;&#8674;</span>
				<p>{{page.next.title}}</p>
			</a>
			{% endif %}
		</div>
	</div>
</div>

<a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
