<div class="ms-1" id="socialList">
    
    <!-- <div class="col mb-3 mb-lg-0">
        <p class="text-lg-end text-muted mb-0">{{- site.description | escape -}}</p>
    </div> -->


        <ul class="list-unstyled social-media-list mb-0">
            <li>
                <a href="https://github.com/chuangcaleb"  target="_blank" rel="noopener noreferrer" class="text-decoration-none">
                    <i class="bi-github flex-shrink-0 me-2 text-muted"></i>chuangcaleb
                </a>
            </li>

            <li>
                <a href="https://instagram.com/whatsthestoryabout"  target="_blank" rel="noopener noreferrer" class="text-decoration-none">
                    <i class="bi-instagram flex-shrink-0 me-2 text-muted"></i>whatsthestoryabout
                </a>
            </li>
        </ul>

</div>