$dark-background-color: #1c1f2b !default;
// $dark-background-color: rgb(28, 33, 38) !default;
// $dark-background-color: #272b34 !default;
// $dark-background-color: #000 !default;
$dark-background-alt-color: #0c1120 !default;
// $dark-background-alt-color:rgb(36, 43, 50) !default;
// $dark-background-alt-color: #1a1e24 !default;
$dark-text-color: rgb(216, 215, 215) !default;
// $dark-text-color: rgb(199, 193, 193) !default;

html[data-theme="dark"] {
	:root {
		color-scheme: dark;
	}
	main.page-content {
		color: $dark-text-color;
		background-color: $dark-background-color;
	}

	main {
		a {
			// color: rgb(140, 178, 228);
			color: #61afef;
		}
		a:hover {
			color: #61afef;
		}
	}
	a:visited {
		color: #3e90d4;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: #fff;
	}
	.site-title,
	.site-title:visited {
		color: #fff;
	}

	*:not(pre) > code {
		color: $dark-text-color;
		background-color: #454545;
	}

	table {
		color: #9d9d9d;

		th {
			background-color: #050505;
		}

		tr:nth-child(even) {
			background-color: #080808;
		}
	}

	blockquote {
		color: $dark-text-color;
		border: 1px solid #3d4047;
		border-left: 8px solid #3d4047;
	}

	strong {
		color: white;
	}

	.site-header,
	.site-footer {
		background-color: $dark-background-alt-color;

		.footer-heading a {
			color: white;
		}

		.site-brand {
			.site-brand-inner {
				&,
				&:visited {
					color: #f8f8f8;
				}
			}
		}

		.site-nav .page-link {
			color: #f8f8f8;
		}

		.ct-language-dropdown {
			color: #f8f8f8;
			background-color: $dark-background-color;
			box-shadow: 0 0 3px 1px #0000005b;
		}

		.menu-icon {
			// background-color: $dark-background-color;
			opacity: 0px;
		}

		@include media-query($on-laptop) {
			.menu-icon > svg {
				fill: rgba($dark-text-color, 80%);
			}

			.site-nav input:checked ~ .trigger {
				background-color: $dark-background-color;
			}
		}
	}

	.post-nav-pn a:hover {
		transition: #367bdb 500ms cubic-bezier(0.08, 0.52, 0.52, 1);
		border-color: #367bdb;
		text-decoration: none;
	}

	::-webkit-scrollbar {
		width: 16px;
	}
	::-webkit-scrollbar-thumb {
		background: #dadce0;
		background-clip: padding-box;
		border: 4px solid transparent;
		border-radius: 8px;
		box-shadow: none;
		min-height: 50px;
	}
	::-webkit-scrollbar-thumb {
		background-color: #5f6368;
	}
	::-webkit-scrollbar-track,
	::-webkit-scrollbar-track:hover {
		background: none;
		border: none;
	}

	.pagination {
		.post-link {
			color: $dark-text-color;
		}

		.post-title {
			a:visited:after {
				background-color: $dark-background-color;
			}

			a:after {
				color: $dark-background-color;
			}
		}

		.post-list {
			& > li:not(:last-child) {
				border-bottom: 1px solid #545454;
			}
		}

		.post-tags .post-tag:hover {
			color: #d7d7d7;
		}
	}

	.page-segments {
		li {
			a {
				color: #ddd;
			}

			a:visited:after {
				background-color: $dark-background-color;
			}

			a:after {
				color: $dark-background-color;
			}
		}
	}

	.post .post-content {
		img:not([raw]) {
			background-color: #ffffff33;
		}
	}

	.post-related {
		& > *:first-child {
			color: #d7d7d7;
		}

		a:visited:after {
			background-color: $dark-background-color;
		}

		a:after {
			color: $dark-background-color;
		}

		a:hover {
			color: #aaa;
		}
	}

	logo {
		filter: invert(100%);
	}

	pre {
		background-color: #282c3e;

		code {
			color: white;
			background-color: transparent;
		}
	}
}
