$dark-background-color: #1c1f2b !default;
$dark-background-alt-color: rgb(45, 49, 67) !default;
$dark-text-color: rgb(216, 215, 215) !default;
$heading-lapel-color: #3d4256;

[data-theme="dark"] {
	background-color: $dark-background-color;

	:root {
		color-scheme: dark;
	}
	.page-content {
		color: $dark-text-color;
		background-color: $dark-background-color;

		// h2,
		// h3,
		// h4,
		// h5,
		// h6 {
		// 	background-color: $dark-background-color;
		// }

		// section {
		// 	background-color: $dark-background-color;
		// }
	}

	@media only screen and (min-width: 800px) {
		h1,
		h2,
		h3,
		h4,
		blockquote {
			&:before {
				color: $heading-lapel-color;
			}
		}
	}
	.post .post-meta {
		border-left-color: gray;
		color: white;
	}

	#toc,
	#socialList,
	main,
	header,
	footer {
		a {
			// color: rgb(140, 178, 228);
			color: #61afef;

			&:hover {
				color: #74a6cf;
			}
		}
	}

	main a {
		&:visited {
			color: #3d88c6;
		}
	}

	// h1,
	// h2,
	// h3,
	// h4,
	// h5,
	// h6 {
	// 	color: white;
	// }

	// .site-title,
	// .site-title:visited {
	// 	color: white;
	// }

	// *:not(pre) > code {
	// 	color: $dark-text-color;
	// 	background-color: #454545;
	// }

	table {
		color: #9d9d9d;

		th {
			background-color: #050505;
		}

		tr:nth-child(even) {
			background-color: #080808;
		}
	}

	blockquote {
		color: $dark-text-color;
		border: 1px solid #3d4047;
		border-left: 8px solid #3d4047;
	}

	strong {
		color: white;
	}

	.site-header,
	.site-footer {
		background-color: $dark-background-color;

		.footer-heading a {
			color: white;
		}

		.site-brand {
			.site-brand-inner {
				&,
				&:visited {
					color: #f8f8f8;
				}
			}
		}

		@media only screen and (max-width: 600px) {
			.site-nav {
				background-color: $dark-background-alt-color;
			}
		}

		.site-nav .page-link {
			color: #f8f8f8;
		}

		.menu-icon {
			// background-color: $dark-background-color;
			opacity: 0px;
		}

		// @include media-query($on-laptop) {
		// 	.menu-icon > svg {
		// 		fill: rgba($dark-text-color, 80%);
		// 	}
		// }
	}

	.post-nav-pn a:hover {
		transition: #367bdb 500ms cubic-bezier(0.08, 0.52, 0.52, 1);
		border-color: #367bdb;
		text-decoration: none;
	}

	// ::-webkit-scrollbar {
	// 	width: 16px;
	// }
	// ::-webkit-scrollbar-thumb {
	// 	background: #dadce0;
	// 	background-clip: padding-box;
	// 	border: 4px solid transparent;
	// 	border-radius: 8px;
	// 	box-shadow: none;
	// 	min-height: 50px;
	// }
	// ::-webkit-scrollbar-thumb {
	// 	background-color: #5f6368;
	// }
	// ::-webkit-scrollbar-track,
	// ::-webkit-scrollbar-track:hover {
	// 	background: none;
	// 	border: none;
	// }

	// .pagination {
	// 	.post-link {
	// 		color: $dark-text-color;
	// 	}

	// 	.post-title {
	// 		a:visited:after {
	// 			background-color: $dark-background-color;
	// 		}

	// 		a:after {
	// 			color: $dark-background-color;
	// 		}
	// 	}

	// 	.post-list {
	// 		& > li:not(:last-child) {
	// 			border-bottom: 1px solid #545454;
	// 		}
	// 	}

	// 	.post-tags .post-tag:hover {
	// 		color: #d7d7d7;
	// 	}
	// }

	// .page-segments {
	// 	li {
	// 		a {
	// 			color: #ddd;
	// 		}

	// 		a:visited:after {
	// 			background-color: $dark-background-color;
	// 		}

	// 		a:after {
	// 			color: $dark-background-color;
	// 		}
	// 	}
	// }

	.post .post-content {
		img:not([raw]) {
			background-color: #ffffff33;
		}
	}

	.post-related {
		& > *:first-child {
			color: #d7d7d7;
		}

		a:visited:after {
			background-color: $dark-background-color;
		}

		a:after {
			color: $dark-background-color;
		}

		a:hover {
			color: #aaa;
		}
	}

	logo {
		filter: invert(100%);
	}

	pre {
		background-color: #282c3e;

		code {
			color: white !important;
		}
	}

	.html {
		filter: invert(85%);
	}

	.text-muted {
		color: gray !important;
	}

	.navbar-toggler {
		border-color: gray;
		background-color: $dark-background-alt-color;
		.navbar-toggler-icon {
			filter: invert(85%);
		}
	}

	#offcanvasNavbar {
		background-color: $dark-background-alt-color;
		.btn-close {
			filter: invert(85%);
		}
		#darkSwitch {
			background-color: #3e90d4;
		}

		@media only screen and (max-width: 992px) {
			.nav-links {
				background-color: $dark-background-alt-color;
				border: #777777 solid 1px;
				border-radius: 0.5em;
			}
		}
		.offcanvas-title,
		.toc-title {
			color: white;
		}
	}

	.page-link {
		color: white;
		&:hover {
			color: white;
		}
	}

	hr {
		border-color: white;
	}
}
