$background-color: white !default;
$heading-lapel-color: #d7d7d7 !default;
$active-color: #7aa0d1;
$interactable-color: #2a7ae2;
$lg-breakpoint: 992px; /* lg breakpoint */
$xl-breakpoint: 1200px; /* xl breakpoint */

// * General -------------------------------------------------------------------

blockquote {
	margin-top: 40px;
	margin-bottom: 40px;
	padding: 20px 20px;
	font-size: 140%;
	// background-color: #f7f7f7;
	border: 1px solid #e8e8e8;
	border-left: 8px solid #e8e8e8;
	font-style: italic;
	p {
		font-weight: 300;
	}
}

blockquote li {
	margin: 15px 15px;
}

main hr {
	margin-top: 45px;
	margin-bottom: 45px;
}

html {
	scroll-behavior: smooth;
}

.page-content {
	line-height: 1.7;
	padding-top: 40px;

	.page-title,
	.post-title {
		font-size: 38px;
		line-height: 1.5;
	}

	h4 {
		font-size: 1.5em;
	}
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-top: 1.275em;
		margin-bottom: 0.85em;
		font-weight: 450;
	}

	h1,
	h2 {
		font-weight: 600;
	}

	dl,
	ol,
	.post-content > p,
	table,
	blockquote {
		// margin-top: 0;
		margin-bottom: 1.5em;
	}

	pre + * {
		// Any page-content element preceding a pre
		margin-top: 1.5em;
	}

	pre {
		margin: 0px !important;
	}
}

input {
	cursor: pointer;
}

@media only screen and (min-width: 800px) {
	h1:before {
		content: "H1";
		color: $heading-lapel-color;
		font-size: 0.8em;
		font-weight: initial;
		margin-left: -52px;
		margin-right: 15px;
	}
	h2:before {
		content: "H2";
		color: $heading-lapel-color;
		font-size: 0.8em;
		font-weight: initial;
		margin-left: -54px;
		margin-right: 20px;
	}
	h3:before {
		content: "H3";
		color: $heading-lapel-color;
		font-size: 0.8em;
		font-weight: initial;
		margin-left: -51px;
		margin-right: 23px;
	}
	h4:before {
		content: "H4";
		color: $heading-lapel-color;
		font-size: 0.8em;
		font-weight: initial;
		margin-left: -40px;
		margin-right: 20px;
	}
	blockquote:before {
		content: "â";
		position: absolute;
		color: $heading-lapel-color;
		font-size: 2em;
		line-height: 1em;
		margin-left: -1.9em;
		margin-top: -0em;
	}
}

.site-footer .site-nav .trigger {
	height: 40px;
}

.post {
	.post-meta {
		text-align: left;
		border-left: 3px solid lightgray;
		color: initial;
		// padding-left: 15px;
		padding-left: 18px;
		margin-top: 20px;

		& > div:not(.meta-link-div) {
			opacity: 0.5;
		}
		& > div.meta-link-div {
			opacity: 1;
			emj {
				opacity: 0.5;
			}
		}
	}
	.post-extlink {
		display: block;
		margin: 60px auto;
		padding: 20px;
		text-align: center;
		border: 2px solid gray;
		border-radius: 10px;
		font-size: large;
		&:hover {
			text-decoration: none;
			border-color: $active-color;
		}
	}
}

blockquote > :last-child {
	margin-bottom: 0;
}

.footnotes {
	margin-top: 100px;
}

.embed-image {
	margin: auto;
	display: block;
	width: 70%;
	margin-top: 20px;
	margin-bottom: 20px;
}

iframe {
	margin: auto;
	display: block;
	margin-top: 20px;
	margin-bottom: 20px;
}

// * Post -------------------------------------------------------------------

// https://www.bytedude.com/jekyll-previous-and-next-posts/#fnref:hard
.post-nav {
	padding: 20px 0px;
	margin-top: 50px;
	border-top: 3px solid rgba(227, 227, 227, 0.5);
	border-bottom: 3px solid rgba(227, 227, 227, 0.5);
	border-radius: 30pt;
}

.post-nav .category-link {
	margin: auto;
	width: fit-content;
	display: block;
	margin-bottom: 5px;
	box-sizing: border-box;
}

.post-nav-pn {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.post-nav-pn div {
	width: 50%;
}
.post-nav-pn a {
	display: block;
	flex: 1 1 0;
	margin: 10px;
	padding: 10px 20px;
	border: 1px solid lightgray;
	border-radius: 10pt;
}

.post-nav-pn a p {
	margin: 0px;
}

.post-nav-pn .post-nav-n {
	text-align: right;
}

.post-nav-label {
	color: gray;
	font-size: 12px;
}

.post-nav-pn a:hover {
	transition: $active-color 500ms cubic-bezier(0.08, 0.52, 0.52, 1);
	border-color: $active-color;
	text-decoration: none;
}

// Offset for breadcrumbs
.category,
.post {
	margin-top: -27px;
}

// * Lists ---------------------------------------------------------------------

.post-list li {
	border-left: 3px solid lightgray;
	padding-left: 15px;
	margin-bottom: 3em;
}

.post-list {
	margin-top: 40px;
}

// * Table of Contents ---------------------------------------------------------

@media only screen and (max-width: $lg-breakpoint) {
	#toc-container {
	}
}

@media only screen and (min-width: $lg-breakpoint) {
	#offcanvas-sidebar {
		right: 4%;
		top: 90px;
		top: 0px;
		padding-top: 60px;
		padding-left: 2%;
		left: 0%;
		float: right;
		position: fixed;
		max-width: 20%;
		font-size: 85%;
		background-color: #f2f2f2;
	}

	// #offcanvasNavbar {
	// 	top: 0px;
	// 	padding-top: 60px;
	// 	left: 2%;
	// 	float: right;
	// 	position: fixed;
	// }
}

#toc-container {
	ul {
		list-style-type: none;
		margin-top: 5px;
		li {
			margin-top: 5px;
			margin-bottom: 5px;
		}
	}
}

#toc {
	margin-left: 0px;
	margin-bottom: 0px;
	padding: 0px;
	ul {
		padding-left: 1.2em;
	}
}

.toc-top-link a {
	color: gray !important;
}

// .gdocs-embed,
.html-screenplay {
	@media only screen and (max-width: $lg-breakpoint) {
		display: none;
	}
}

// * Footer --------------------------------------------------------------------

.site-footer .trigger {
	line-height: normal;
}

.footer-heading a {
	color: black;
}

// * CODEBLOCK -----------------------------------------------------------------

// [class*='language-']
code {
	border: initial;
	font-size: 1em !important;
	padding: initial;
	font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
		"Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
} /* TODO: Remove important, */

pre > code {
	font-size: 1.1em !important;
	color: black;
	white-space: pre-wrap;
	border: 20px;
}

pre {
	padding: 10px 15%;
	border: 0px;
	background-color: #f2f3f7;
}

@media only screen and (max-width: 800px) {
	pre {
		padding: 10px 3%;
	}
}
// pre.highlight > code {
// 	color: black;
// 	white-space: pre-wrap;
// }

// pre.highlight {
// 	margin: 0px 20%;
// 	border: 0px;
// }

// .highlighter-rouge .highlight {
// 	background: rgb(238, 238, 248);
// }

// pre code,
code {
	color: var(--theme-color) !important;
	background-color: initial;
}

pre code {
	color: black !important;
	font-family: "Courier New", Courier, monospace !important;
	font-weight: 500;
}

html pre code.language-screenplay-edited {
	color: var(--theme-color) !important;
}

strong code {
	text-decoration: underline;
}

/* -------------------------------- BOOTSTRAP ------------------------------- */

.page-link:hover {
	text-decoration: underline;
}

.offcanvas-body {
	&::-webkit-scrollbar {
		display: none; /* Chrome, Safari and Opera */
	}
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

body a {
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

a.active {
	border-color: white;
	border-width: 1px;
	border-style: solid;
}

.page-content img {
	max-width: 100%;
}

@media only screen and (max-width: $lg-breakpoint) {
	.invis-interactable {
		// border-color: lightgray !important;
		// border-width: 1px !important;
		// border-style: solid !important;
		// border-radius: 0.5em;
		text-decoration: underline !important;
	}

	// .nav-links {
	// 	background-color: #f8f7f7;
	// 	border: #d5d5d5 solid 1px;
	// 	border-radius: 0.5em;
	// }
}

#offcanvasButton {
	position: fixed !important;
	top: 5px;
	right: 5px;

	@media only screen and (max-width: $xl-breakpoint) {
	}

	@media only screen and (min-width: $xl-breakpoint) {
		// left: calc(100% - 62px);
		background-color: white;
		z-index: 1046;
	}
}

#sidebarBody {
	// position: absolute;
	transition: transform 0.3s ease-in-out;
}

#offcanvasNavbar {
	// position: fixed;

	.page-link {
		margin-left: 0px;
		margin-right: 0px;
	}

	@media only screen and (min-width: $lg-breakpoint) {
		max-width: 32%;
		&.show + #sidebarBody {
			position: absolute;
			left: 400px;
			max-width: 60%;
		}
	}

	@media only screen and (min-width: $xl-breakpoint) {
		max-width: 22%;
		&.show + #sidebarBody {
			position: absolute;
			left: 30%;
		}
	}
}

// .offcanvas-backdrop .show {
// 	opacity: 0;
// 	z-index: -1;
// }
