$h4: 1.5em;
$background-color: white !default;
$heading-lapel-color: #d7d7d7 !default;
$active-color: #7aa0d1;
$interactable-color: #2a7ae2;

// * General -------------------------------------------------------------------

// #site {
// 	overflow-y: hidden;
// }

// logo {
// 	transition-duration: 4s;
// 	transition-delay: 1s;
// }

.site-header {
	border-top: 0px;

	// .site-title :not(:hover) {
	// 	// .site-title:not(:hover) {
	// 	:not(img) {
	// 		opacity: 0.3;
	// 	}
	// }

	// 	a:not(:hover) {
	// 		opacity: 0.6;
	// 	}
}

// .site-header,
// .page-content,
// .site-footer {
// 	transition-duration: 2s;
// }

blockquote {
	margin-top: 40px;
	margin-bottom: 40px;
	padding: 20px 20px;
	font-size: 140%;
	// background-color: #f7f7f7;
	border: 1px solid #e8e8e8;
	border-left: 8px solid #e8e8e8;
}

blockquote li {
	margin: 15px 15px;
}

main hr {
	margin-top: 45px;
	margin-bottom: 45px;
}

html {
	// overflow-y: scroll;
	scroll-behavior: smooth;
}

.page-content {
	line-height: 1.7;
	padding-top: 40px;

	.page-title,
	.post-title {
		font-size: 38px;
		line-height: 1.5;
	}

	h4 {
		font-size: 1.2em;
	}
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-top: 1.275em;
		margin-bottom: 0.85em;
		font-weight: 450;
		// position: sticky;
		background-color: $background-color;
		// transition-duration: 2s;
	}

	// h2 {
	// 	top: 0px;
	// 	z-index: 10;
	// }

	// h3 {
	// 	top: 43px;
	// 	@media screen and (max-width: 1200px) {
	// 		top: 47px;
	// 	}
	// 	z-index: 9;
	// }

	h1,
	h2 {
		font-weight: 600;
	}

	dl,
	ol,
	.post-content > p,
	table,
	blockquote {
		// margin-top: 0;
		margin-bottom: 1.5em;
	}

	pre + * {
		// Any page-content element preceding a pre
		margin-top: 1.5em;
	}

	pre {
		margin: 0px !important;
	}

	// & > .wrapper > *:first-child {
	// 	margin: 0 !important;
	// }
}

@media only screen and (min-width: 800px) {
	h1:before {
		content: "H1";
		color: $heading-lapel-color;
		font-size: 0.8em;
		font-weight: initial;
		margin-left: -58px;
		margin-right: 15px;
	}
	h2:before {
		content: "H2";
		color: $heading-lapel-color;
		font-size: 0.8em;
		font-weight: initial;
		margin-left: -54px;
		margin-right: 20px;
	}
	h3:before {
		content: "H3";
		color: $heading-lapel-color;
		font-size: 0.8em;
		font-weight: initial;
		margin-left: -51px;
		margin-right: 23px;
	}
	h4:before {
		content: "H4";
		color: $heading-lapel-color;
		font-size: 0.8em;
		font-weight: initial;
		margin-left: -40px;
		margin-right: 20px;
	}
	blockquote:before {
		content: "â";
		position: absolute;
		color: $heading-lapel-color;
		font-size: 1.8em;
		margin-left: -90px;
		margin-top: -0.3em;
	}
}

.site-footer .site-nav .trigger {
	height: 40px;
}

.post {
	.post-meta {
		text-align: left;
		border-left: 3px solid lightgray;
		color: initial;
		// padding-left: 15px;
		padding-left: 18px;
		margin-top: 20px;

		& > div:not(.meta-link-div) {
			opacity: 0.5;
		}
		& > div.meta-link-div {
			opacity: 1;
			emj {
				opacity: 0.5;
			}
			a {
				// color: #61afef;
			}
		}

		@media only screen and (min-width: 800px) {
			margin-top: 0px;
			// margin-left: -25px;
			// padding-left: 25px;
		}
		// & > {
		// 	span,
		// 	emoji {
		// 		opacity: 0.5;
		// 	}
		// }
	}
	.post-extlink {
		display: block;
		margin: 60px auto;
		padding: 20px;
		text-align: center;
		border: 2px solid gray;
		border-radius: 10px;
		font-size: large;
		&:hover {
			text-decoration: none;
			border-color: $active-color;
		}
	}
}

blockquote > :last-child {
	margin-bottom: 0;
}

.footnotes {
	margin-top: 100px;
}

.embed-image {
	margin: auto;
	display: block;
	width: 70%;
	margin-top: 20px;
	margin-bottom: 20px;
}

iframe {
	margin: auto;
	display: block;
	margin-top: 20px;
	margin-bottom: 20px;
}

// * Post -------------------------------------------------------------------

#table-of-contents li {
	margin-top: 5px;
}

// https://www.bytedude.com/jekyll-previous-and-next-posts/#fnref:hard
.post-nav {
	padding: 20px 0px;
	margin-top: 50px;
	// border: 1px solid lightgray;
	// background-color: #f8f7f7;
	border-top: 3px solid rgba(227, 227, 227, 0.5);
	border-bottom: 3px solid rgba(227, 227, 227, 0.5);
	border-radius: 30pt;
	// box-shadow: 0px -5px 10px 3px rgba(227, 227, 227, 0.5);
}

.post-nav .category-link {
	margin: auto;
	width: fit-content;
	display: block;
	margin-bottom: 5px;
	box-sizing: border-box;
}

.post-nav-pn {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.post-nav-pn div {
	width: 50%;
}
.post-nav-pn a {
	display: block;
	flex: 1 1 0;
	margin: 10px;
	padding: 10px 20px;
	border: 1px solid lightgray;
	border-radius: 10pt;
}

.post-nav-pn a p {
	margin: 0px;
	// color: gray;
}

.post-nav-pn .post-nav-n {
	// padding-left: 1.5em;
	text-align: right;
}

.post-nav-label {
	color: gray;
	font-size: 12px;
}

.post-nav-pn a:hover {
	transition: $active-color 500ms cubic-bezier(0.08, 0.52, 0.52, 1);
	border-color: $active-color;
	text-decoration: none;
}

// Offset for breadcrumbs
.category,
.post {
	margin-top: -27px;
}

// * Lists ---------------------------------------------------------------------

// .home hr,
// .category hr {
// 	margin-top: 10px;
// 	margin-bottom: 10px;
// }

.post-list li {
	border-left: 3px solid lightgray;
	padding-left: 15px;
	margin-bottom: 3em;
}

.post-list {
	margin-top: 40px;
}

// * Table of Contents ---------------------------------------------------------

$toc-cutoff: 1300px;

@media only screen and (max-width: $toc-cutoff) {
	#table-of-contents {
		max-width: 400px;
		padding: 10px;
		outline: 1px solid lightgray;
		font-size: 90%;
		align-items: center;
		margin-bottom: 30px;
	}
}

@media only screen and (min-width: $toc-cutoff) {
	#table-of-contents {
		right: 4%;
		float: right;
		position: fixed;
		top: 90px;
		max-width: 16%;
		font-size: 85%;
	}
}

#table-of-contents ul {
	list-style-type: none;
	margin-top: 5px;
}
#table-of-contents ul li {
	margin-bottom: 3px;
}

#toc {
	margin-left: 0px;
	margin-bottom: 0px;
	padding: 0px;
}

.toc-top-link a {
	color: gray !important;
}

// .gdocs-embed,
.html-screenplay {
	@media only screen and (max-width: $toc-cutoff) {
		display: none;
	}
}

// * Footer --------------------------------------------------------------------

.site-footer .trigger {
	line-height: normal;
}

.footer-heading a {
	color: black;
}

// * CODEBLOCK -----------------------------------------------------------------

// [class*='language-']
code {
	border: initial;
	font-family: initial;
	font-size: 1em;
	padding: initial;
}

pre > code {
	font-size: initial;
	color: black;
	white-space: pre-wrap;
	border: 20px;
}

pre {
	padding: 10px 17%;
	border: 0px;
}

// pre.highlight > code {
// 	color: black;
// 	white-space: pre-wrap;
// }

// pre.highlight {
// 	margin: 0px 20%;
// 	border: 0px;
// }

// .highlighter-rouge .highlight {
// 	background: rgb(238, 238, 248);
// }

// pre code,
code {
	// code.language-plaintext.highlighter-rouge {
	color: var(--theme-color);
	background-color: initial;
}

html pre code.language-screenplay-edited {
	color: var(--theme-color) !important;
}

strong code {
	text-decoration: underline;
}

/* -------------------------------- BOOTSTRAP ------------------------------- */

.page-link:hover {
	text-decoration: underline;
}

.offcanvas-body {
	&::-webkit-scrollbar {
		display: none; /* Chrome, Safari and Opera */
	}
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

body a {
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}
