@charset "UTF-8";
/* lg breakpoint */
/* xl breakpoint */
blockquote { margin-top: 1.5em; margin-bottom: 1.5em; padding: 20px 20px; font-size: 140%; border: 1px solid #e8e8e8; border-left: 8px solid #e8e8e8; font-style: italic; }

blockquote p { font-weight: 300; }

blockquote li { margin: 15px 15px; }

main hr { margin-top: 45px; margin-bottom: 45px; }

html { scroll-behavior: smooth; }

.page-content { line-height: 1.7; }

.page-content .page-title, .page-content .post-title { font-size: 38px; line-height: 1.5; margin-top: 0.3em; margin-bottom: 0.5em; }

.page-content h2, .page-content h3, .page-content h4, .page-content h5, .page-content h6 { margin-top: 1.275em; margin-bottom: 0.85em; font-weight: 450; }

.page-content h1, .page-content h2 { font-weight: 600; }

.page-content h4 { font-size: 1.5em; }

.page-content dl, .page-content ol, .page-content .post-content > p, .page-content table, .page-content blockquote { margin-bottom: 1.5em; }

.page-content pre + * { margin-top: 1.5em; }

.page-content pre { margin: 0px !important; }

input { cursor: pointer; }

@media only screen and (min-width: 992px) { h1:before { content: "H1"; color: #d7d7d7; font-size: 0.8em; font-weight: initial; margin-left: -52px; margin-right: 15px; } h2:before { content: "H2"; color: #d7d7d7; font-size: 0.8em; font-weight: initial; margin-left: -54px; margin-right: 20px; } h3:before { content: "H3"; color: #d7d7d7; font-size: 0.8em; font-weight: initial; margin-left: -51px; margin-right: 23px; } h4:before { content: "H4"; color: #d7d7d7; font-size: 0.8em; font-weight: initial; margin-left: -40px; margin-right: 20px; } blockquote:before { content: "❝"; position: absolute; color: #d7d7d7; font-size: 2em; line-height: 1em; margin-left: -1.9em; margin-top: -0em; } }

.site-footer .site-nav .trigger { height: 40px; }

.post-meta { color: gray; }

.post-meta > div { display: inline-block; margin-right: 1em; }

@media only screen and (min-width: 992px) { .post-meta > div { margin-right: 2em; } }

#offcanvasNavbar .post-meta { text-align: left; border-left: 2px solid lightgray; color: gray; padding: 5px 0px 5px 1em; }

.post-extlink { display: block; margin: 60px auto; padding: 20px; text-align: center; border: 2px solid gray; border-radius: 10px; font-size: large; }

.post-extlink:hover { text-decoration: none; border-color: #7aa0d1; }

blockquote > :last-child { margin-bottom: 0; }

.footnotes { margin-top: 100px; }

.embed-image { margin: auto; display: block; width: 70%; margin-top: 20px; margin-bottom: 20px; }

iframe { margin: auto; display: block; margin-top: 20px; margin-bottom: 20px; }

.post-header { margin-bottom: 1.5em; }

.post-nav { padding: 20px 0px; margin-top: 50px; border-top: 3px solid rgba(227, 227, 227, 0.5); border-bottom: 3px solid rgba(227, 227, 227, 0.5); border-radius: 30pt; }

.category-link { line-break: auto; font-size: small; color: gray; padding: 2px 8px; border: 1px solid rgba(227, 227, 227, 0.5); border-radius: 0.4em; margin-right: 0.5em; }

.category-link:hover { color: black; border-color: gray; text-decoration: none; }

.post-nav-pn { display: flex; justify-content: space-between; flex-wrap: wrap; }

.post-nav-pn div { width: 50%; }

.post-nav-pn a { display: block; flex: 1 1 0; margin: 10px; padding: 10px 20px; border: 1px solid lightgray; border-radius: 10pt; }

.post-nav-pn a p { margin: 0px; }

.post-nav-pn .post-nav-n { text-align: right; }

.post-nav-label { color: gray; font-size: 12px; }

.post-nav-pn a:hover { transition: #7aa0d1 500ms cubic-bezier(0.08, 0.52, 0.52, 1); border-color: #7aa0d1; text-decoration: none; }

.post-list li { border-left: 3px solid lightgray; padding-left: 15px; margin-bottom: 3em; }

.post-list { margin-top: 40px; }

#toc-container ul { list-style-type: none; margin-top: 5px; }

#toc-container ul li { margin-top: 5px; margin-bottom: 5px; }

#toc { margin-left: 0px; margin-bottom: 0px; padding: 0px; }

#toc ul { padding-left: 1.2em; }

.toc-top-link a { color: gray !important; }

@media only screen and (max-width: 992px) { .html-screenplay { display: none; } }

.site-footer .trigger { line-height: normal; }

.footer-heading a { color: black; }

code { border: initial; font-size: 1em !important; padding: initial; font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important; }

/* TODO: Remove important, */
pre > code { font-size: 1.1em !important; color: black; white-space: pre-wrap; border: 20px; }

pre { padding: 10px 15%; border: 0px; background-color: #f2f3f7; }

@media only screen and (max-width: 800px) { pre { padding: 10px 3%; } }

code { color: var(--theme-color) !important; background-color: initial; }

pre code { color: black !important; font-family: "Courier New", Courier, monospace !important; font-weight: 500; }

html pre code.language-screenplay-edited { color: var(--theme-color) !important; }

strong code { text-decoration: underline; }

/* -------------------------------- BOOTSTRAP ------------------------------- */
.page-link:hover { text-decoration: underline; }

.offcanvas-body { /* width */ /* Track */ /* Handle */ /* Handle on hover */ }

.offcanvas-body::-webkit-scrollbar { width: 3px; }

.offcanvas-body::-webkit-scrollbar-track { background: #f9f9f9; border-left: #ececec 1px solid; }

.offcanvas-body::-webkit-scrollbar-thumb { background: #c5c5c5; border-radius: 6em; }

.offcanvas-body::-webkit-scrollbar-thumb:hover { background: #848484; }

body a { text-decoration: none; }

body a:hover { text-decoration: underline; }

a.active { border-color: white; border-width: 1px; border-style: solid; }

.page-content img { max-width: 100%; }

@media only screen and (max-width: 992px) { .invis-interactable { text-decoration: underline !important; } }

#offcanvasButton { position: fixed !important; top: 5px; right: 5px; background-color: white; border: 1px solid #e8e8e8; border-radius: 5px; z-index: 1; }

#offcanvasButton svg { fill: #424242; padding: 5px; }

@media only screen and (min-width: 992px) { #offcanvasButton { top: 15px; right: 15px; } }

@media only screen and (min-width: 1200px) { #offcanvasButton { z-index: 1046; } }

@media only screen and (max-width: 1200px) { #offcanvasNavbar.show + #sidebarBody #nav-links { display: none !important; } }

#sidebarBody { transition: none; }

#offcanvasNavbar { transition: none; }

#offcanvasNavbar .page-link { margin-left: 0px; margin-right: 0px; }

@media only screen and (min-width: 992px) { #offcanvasNavbar { max-width: 32%; } #offcanvasNavbar.show + #sidebarBody { transform: translateX(29%); max-width: 60%; } }

@media only screen and (min-width: 1200px) { #offcanvasNavbar { max-width: 25%; } #offcanvasNavbar.show + #sidebarBody { transform: translateX(23%); } }

#body { padding-bottom: 30vh; }

@media only screen and (min-width: 600px) { .site-header .theme-toggle { margin: 10px 0px; } }

@media screen and (max-width: 600px) { .site-header .theme-toggle { margin: 0px 5px 5px 0px; } }

.site-footer .theme-toggle { display: none; }

.theme-toggle { position: relative; margin: auto; line-height: 54px; float: right; /* Toggle */ }

.theme-toggle label, .theme-toggle .circle { border-radius: 25px; }

.theme-toggle label { cursor: pointer; }

.theme-toggle .circle { font-size: 30px; font-weight: bolder; position: relative; display: flex; justify-content: center; user-select: none; }

.theme-toggle .circle { padding: 5px; }

.theme-toggle .dark { display: none; font-size: 20px; }

.theme-toggle p { margin-bottom: 0; line-height: 24px; }

.theme-toggle [type="checkbox"] { display: none; }

.theme-toggle [type="checkbox"]:checked ~ label .circle { color: white; }

.theme-toggle .circle:hover { background-color: rgba(120, 120, 120, 0.15); }

.theme-toggle [type="checkbox"]:checked ~ label .circle:hover { background-color: rgba(187, 185, 185, 0.342); }

.theme-toggle [type="checkbox"]:checked ~ label .dark { display: inline; }

.theme-toggle [type="checkbox"]:checked ~ label .light { display: none; }

[data-theme="dark"] { background-color: #1c1f2b; }

[data-theme="dark"] :root { color-scheme: dark; }

[data-theme="dark"] .page-content { color: #d8d7d7; background-color: #1c1f2b; }

@media only screen and (min-width: 800px) { [data-theme="dark"] h1:before, [data-theme="dark"] h2:before, [data-theme="dark"] h3:before, [data-theme="dark"] h4:before, [data-theme="dark"] blockquote:before { color: #3d4256; } }

[data-theme="dark"] .post-meta { border-left-color: gray; }

[data-theme="dark"] main a:visited { color: #3d88c6; }

[data-theme="dark"] .offcanvas-body a, [data-theme="dark"] #socialList a, [data-theme="dark"] main a, [data-theme="dark"] header a, [data-theme="dark"] footer a { color: #61afef; }

[data-theme="dark"] .offcanvas-body a:hover, [data-theme="dark"] #socialList a:hover, [data-theme="dark"] main a:hover, [data-theme="dark"] header a:hover, [data-theme="dark"] footer a:hover { color: #74a6cf; }

[data-theme="dark"] main a.category-link { color: gray; }

[data-theme="dark"] main a.category-link:hover { color: white; border-color: white; }

[data-theme="dark"] table { color: #9d9d9d; }

[data-theme="dark"] table th { background-color: #050505; }

[data-theme="dark"] table tr:nth-child(even) { background-color: #080808; }

[data-theme="dark"] blockquote { color: #d8d7d7; border: 1px solid #3d4047; border-left: 8px solid #3d4047; }

[data-theme="dark"] strong { color: white; }

[data-theme="dark"] .site-header, [data-theme="dark"] .site-footer { background-color: #1c1f2b; }

[data-theme="dark"] .site-header .footer-heading a, [data-theme="dark"] .site-footer .footer-heading a { color: white; }

[data-theme="dark"] .site-header .site-brand .site-brand-inner, [data-theme="dark"] .site-header .site-brand .site-brand-inner:visited, [data-theme="dark"] .site-footer .site-brand .site-brand-inner, [data-theme="dark"] .site-footer .site-brand .site-brand-inner:visited { color: #f8f8f8; }

@media only screen and (max-width: 600px) { [data-theme="dark"] .site-header .site-nav, [data-theme="dark"] .site-footer .site-nav { background-color: #2d3143; } }

[data-theme="dark"] .site-header .site-nav .page-link, [data-theme="dark"] .site-footer .site-nav .page-link { color: #f8f8f8; }

[data-theme="dark"] .site-header .menu-icon, [data-theme="dark"] .site-footer .menu-icon { opacity: 0px; }

[data-theme="dark"] .post-nav-pn a:hover { transition: #367bdb 500ms cubic-bezier(0.08, 0.52, 0.52, 1); border-color: #367bdb; text-decoration: none; }

[data-theme="dark"] .post .post-content img:not([raw]) { background-color: #ffffff33; }

[data-theme="dark"] .post-related > *:first-child { color: #d7d7d7; }

[data-theme="dark"] .post-related a:visited:after { background-color: #1c1f2b; }

[data-theme="dark"] .post-related a:after { color: #1c1f2b; }

[data-theme="dark"] .post-related a:hover { color: #aaa; }

[data-theme="dark"] logo { filter: invert(100%); }

[data-theme="dark"] pre { background-color: #282c3e; }

[data-theme="dark"] pre code { color: white !important; }

[data-theme="dark"] .html { filter: invert(85%); }

[data-theme="dark"] .text-muted { color: gray !important; }

[data-theme="dark"] .navbar-toggler { border-color: gray; background-color: #2d3143; }

[data-theme="dark"] .navbar-toggler .navbar-toggler-icon { filter: invert(85%); }

[data-theme="dark"] #offcanvasNavbar { background-color: #2d3143; }

[data-theme="dark"] #offcanvasNavbar .btn-close { filter: invert(85%); }

[data-theme="dark"] #offcanvasNavbar #darkSwitch { background-color: #3e90d4; }

@media only screen and (max-width: 992px) { [data-theme="dark"] #offcanvasNavbar #nav-links { background-color: #2d3143; border: #777777 solid 1px; border-radius: 0.5em; } }

[data-theme="dark"] #offcanvasNavbar .offcanvas-title, [data-theme="dark"] #offcanvasNavbar .toc-title { color: white; }

[data-theme="dark"] .page-link { color: white; }

[data-theme="dark"] .page-link:hover { color: white; }

[data-theme="dark"] hr { border-color: white; }

[data-theme="dark"] #offcanvasButton { background-color: #1c1f2b; }

[data-theme="dark"] #offcanvasButton svg { fill: #aaaaaa; }

[data-theme="dark"] .offcanvas-body { /* Track */ /* Handle */ /* Handle on hover */ }

[data-theme="dark"] .offcanvas-body::-webkit-scrollbar-track { background: #2a2c36; border-left: none; }

[data-theme="dark"] .offcanvas-body::-webkit-scrollbar-thumb { background: #575960; border-radius: 6em; }

[data-theme="dark"] .offcanvas-body::-webkit-scrollbar-thumb:hover { background: #848484; }

/*# sourceMappingURL=main.css.map */