<div class="post-meta small">
  <div>
    <i class="bi bi-upload"></i> &nbsp;<time
      class="dt-published"
      datetime="{{ page.date | date_to_xmlschema }}"
      itemprop="datePublished"
    >
      {{ page.date | date: site.date_format }}
    </time>
  </div>

  <div>
    <i class="bi bi-pencil"></i> &nbsp<time
      class="dt-modified"
      datetime="{{ page.last_modified_at | date_to_xmlschema }}"
      itemprop="dateModified"
    >
      {{ page.last_modified_at | date: site.date_format }}
    </time>
  </div>

  <div>
    <i class="bi bi-stopwatch"></i> &nbsp {{content | number_of_words}} words
    &nbsp·&nbsp {{ content | number_of_words | divided_by: 270 | pluralize:
    "min" }} read
  </div>

  {%- if page.link_label -%}

  <div class="meta-link-div d-block">
    <i class="bi bi-box-arrow-up-right"></i> &nbsp
    <a href="{{page.link_href}}"> {{page.link_label}} </a>
  </div>

  {%-endif-%}
</div>
