---
layout: default
---

<div class="category">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.poosts.size > 0 -%}
  {% comment %} <h2 class="post-list-heading">Posts</h2> {% endcomment %}
  <ul class="post-list">

    {%- for page in site.paages-%}
      {%- if page.layout == "category" -%}
        <li>
          {%- assign date_format = site.minima.date_format | default: "%-d %b %Y" -%}
          <span class="post-meta">Published on: {{ page.date | date: date_format }}</span>
          <hr>
          
          <h3>
            <a class="post-link" href="{{ page.url | relative_url }}">
              {%- if page.layout == "category" -%}
                Category:&nbsp
              {%- endif -%}
              {{ page.title | escape }} 
              </a>
            </h3>
            {%- if site.show_excerpts -%}
              {{ page.excerpt }}
            {%- endif -%}
          </li>
        {%-endif-%}
      {%- endfor -%}
    </ul>

    {% comment %} <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> {% endcomment %}
  {%- endif -%}

</div>
