---
layout: default
---

<div class="category">

  <a href="/wtsa/browse">~</a> / 

  {%- if page.title -%}
      <h1 class="page-title">
          <!-- <span style="color:gray">Category: </span> -->
          {{page.emoji}}  {{ page.title }}
      </h1>
  {%- endif -%}

  {{ content }}

  {%- if site.poosts.size > 0 -%}
      <ul class="post-list">

        <!-- {% assign sanit_title = page.title | regex_replace: '([^A-Za-z ]) ', '' %} -->

          {%- for post in site.poosts-%}
            
                {%- if post.category == page.title -%}
                  <li>

                      {%- assign date_format = site.minima.date_format | default: "%-d %b %Y" -%}
                      <span class="post-meta">
                          {{ post.date | date: date_format }}</span>

                      <a class="post-link" href="{{ post.url | relative_url }}">
                          {{ post.title | escape }}
                      </a>


                      <!-- {% assign ep = post.excerpt | split: '</h1>' %}
                      {{ ep[1] }} -->

                  </li>
                {%-endif-%}
            {%- endfor -%}
        </ul>


      {% comment %} <p class="rss-subscribe">subscribe <a href="{{ " /feed.xml" | relative_url }}">via RSS</a></p> 
      {%endcomment %}
  {%- endif -%}

</div>