---
layout: default
---

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

    {%- if page.categories -%}
        <span class="breadcrumbs post-breadcrumbs">
            <a href="/wtsa/browse">Browse</a> →
            <a class="category-link" href="{{ page.category | regex_replace: '([^A-Za-z0-9 –-] *)', '' | replace: ' ', '-' | relative_url }}"> 
                {{ page.category | escape }}
            </a>
        </span>
    {%-endif-%}

    <header class="post-header">
        <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
        
        {%- include post/top-post-meta.html -%}
    </header>

    {%- include post/toc.html -%}

    <div class="post-content e-content" itemprop="articleBody">
        {% comment %} {% assign content_list = content | split: "
		<hr />
		" %} {% for sect in content_list %}
		<section>
			{{ sect }}
			<hr />
		</section>
		{% endfor %} {% endcomment %}
        {{content}}
    </div>

    {%- if page.link-label -%}
        <a href="{{page.link-href}}" class="post-extlink">
            🔗 &nbsp {{page.link-label}}
        </a>
    {%-endif-%}


    {%- if page.related -%}
        <div class="related-posts">
            <h2>Related posts:</h2>
            {%- for post_title in page.related -%}
                <ul><li>
                    <a href="{{ post_title | slugify }}">
                        {{post_title}}
                    </a>
                </li></ul>
            {%- endfor -%}
        </div>
    {%- endif -%}

    {%- if page.category -%}
        {%- include post/post-nav.html -%}
    {%- endif -%}


</article>
